@media only screen and (max-width: 790px) {
	header {
		padding: 15px 0px;
		z-index: 100;
	}
	.branding-logo {
		margin-left: 10px;
	}
	.menu {
		flex-flow: column;
		position: absolute;
		background: white;
		padding: 10px 0 !important;
		top: 50px;
		left: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
		opacity: 0;
		transform: scaleY(0);
		transform-origin: top center;
		transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 100ms,
			100ms opacity ease-in-out;

		overflow-y: scroll;
	}
	.menu {
		li {
			a {
				font-size: 20px;
				color: var(--dark);
			}
		}
	}
	.menu {
		li {
			a {
				padding: 14px 15px;
				color: black;
			}
			&:hover > a {
				background-color: $primary-color;
				color: white;
			}
		}
	}
	.submenu {
		li {
			a {
				font-size: 20px;
			}
		}
	}

	.submenu {
		top: 0;
		padding-left: 15px;
		border-left: 12px dotted $primary-color;
	}
	.submenu {
		.submenu {
			left: 0;
			top: 0;
		}
	}
	.submenu {
		.submenu {
			.submenu {
				left: 0;
				top: 0;
			}
		}
	}

	.menu > li:hover > a + .submenu,
	.submenu > li:hover > a + .submenu {
		position: relative;
	}

	.hamburger {
		width: 30px;
		height: 2.8px;
		display: block;
		background: white;
		position: relative;
		cursor: pointer;
		margin-right: 10px;
		transition: 0.2s transform ease-in-out;
	}
	.hamburger::after,
	.hamburger::before {
		content: '';
		position: absolute;
		left: 0;
		background: inherit;
		width: inherit;
		height: inherit;

		transition: 0.2s transform ease-in-out;
	}

	.hamburger::after {
		top: 10px;
	}
	.hamburger::before {
		bottom: 10px;
	}

	.close::after,
	.close::before {
		top: 0;
		transition: 0.2s transform ease-in-out;
	}
	.close::before {
		display: none;
	}
	.close {
		transform: rotate(45deg);
		transition: 0.2s transform ease-in-out;
	}
	.close::after {
		transform: rotate(-90deg);
	}

	.toogle-menu {
		position: absolute;
		opacity: 1;
		transform: scaleY(1);
	}
}
