header {
	background: $primary-color;
	position: sticky;
	top: 0;
	z-index: 100;
}
.branding-logo {
	color: white;
	font-size: 25px;
	text-decoration: none;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: static !important;
}
.menu {
	display: flex;
	flex-direction: row;
}
.menu {
	li {
		list-style: none;
	}
	li {
		a {
			display: block;
			text-decoration: none;
			color: white;
			padding: 16px 25px;
			font-size: 18px;
		}
		&:hover > a {
			background-color: #4c51bf;
			color: white;
		}
	}
}

.has-dropdown {
	position: relative;
}
.submenu {
	position: absolute;
	left: 0;
	background-color: white;
	white-space: nowrap;
	padding: 20px 0;
	min-width: 250px;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top center;
}
.submenu {
	li {
		a {
			padding: 16px 19px;
			color: black;
		}
		&:hover > a {
			background-color: $primary-color;
			color: white;
		}
	}
}
.submenu {
	.submenu {
		left: -100%;
		top: 0;
	}
}
.submenu {
	.submenu {
		.submenu {
			left: -100%;
			top: 0;
		}
	}
}

.arrow {
	width: 8px;
	height: 8px;
	display: inline-block;
	vertical-align: middle;
	border-left: 19px solid currentColor;
	border-bottom: 19px solid currentColor;
	transform: rotate(-45deg);
	margin-top: 25px;
	margin-left: 5px;
	transition: transform 100ms ease-in-out;
}

.menu > li:hover > a + .submenu,
.submenu > li:hover > a + .submenu {
	opacity: 1;
	transform: scaleY(1);
}
.menu > li:hover > a > .arrow,
.submenu > li:hover > a > .arrow {
	transform: rotate(-145deg);
}

@import './h-media.scss';
